<!doctype html>
<html lang="en">
  <head>
    {# Anything that won't depend on the current page. #}
    {% block static_head %}
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="/tailwind.css" />
      <link rel="stylesheet" href="/fa.css" />

      <script>
        document.documentElement.classList.toggle(
          "dark",
          localStorage.theme === "dark" ||
            (!("theme" in localStorage) &&
              window.matchMedia("(prefers-color-scheme: dark)").matches),
        );
      </script>

      <script src="/js/base.js"></script>
    {% endblock %}

    {% block extra_head %}
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
