@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme("colors.white");
  background-image: linear-gradient(
      transparent 22px,
      theme("colors.slate.200") 24px,
      transparent 24px
    ),
    linear-gradient(
      90deg,
      transparent 22px,
      theme("colors.slate.200") 24px,
      transparent 24px
    );
  background-size:
    100% 24px,
    24px 100%;
}
